body {
    font-family: 'Lexend', sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}


.header {
    border: 1px solid red;
}


.main {
    border: 1px solid red;
}


.footer {
    border: 1px solid red;
}
